/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bgssss {
    /* Image de fond */
    background-image: url('bg26.jpg'); /* Remplacez par le lien de votre image */
    background-size: cover; /* Ajuste l'image pour couvrir toute la zone */
    background-position: center; /* Centrage de l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
 
  }
